@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#B1C5E9];
  }
}

@layer components {
}

svg {
  display: inline-block;
  vertical-align: middle;
}

path {
  outline: none !important;
}